ol{
    display: inline-flex;
    list-style-type: none;
    gap:20px;
    
}
li{
    list-style-type: none;
}
nav{
    display: inline-block;
    gap:190px;
    
    
}
a{
    text-decoration: none;
}
.navig{
    gap: 90px;

}
.p1{
    position: absolute;
}